body{
  background-color: #e8eaf6 ;
  background-repeat: no-repeat;
  color: whitesmoke;
  font-family: sans-serif;
}
.custom-select {
  position: relative;
  font-family: sans-serif;
  display:flex;
  justify-content: center;
  flex-direction: column;
  color:rgba(0, 0, 0, 0.87);
}
.header{
  align-self: center;
}
.select-selected {
  background-color: DodgerBlue;
}

.selectbox{
  align-self: center;
  width:300px;
  height:30px;
  font-weight: bold;
  border: solid #1a237e
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.section{
  display:flex;
  justify-content: space-around;
}

div li{
    border: solid #1a237e;
    list-style: none;
    padding: 8px;
    border-bottom: none;
    color: white;
}

li:last-child {
  border-bottom: solid #1a237e;
}
div li:nth-child(n) {
  background: #7986cb;
}

div li:nth-child(2n+0) {
  background: #3949ab;
}

div li:nth-child(3n+0) {
  background:#303f9f;
}

.section div{
  color:rgba(0, 0, 0, 0.87);
}
